<template>
  <div class="item">
    <div class="wrap_img">
      <img src="https://marketplace.canva.com/EAFFKiXXzRg/1/0/1600w/canva-m%C3%A0u-h%E1%BB%93ng-v%C3%A0-n%C3%A2u-g%E1%BA%A5u-v%C3%A0-th%E1%BB%8F-%C4%91%C3%A1ng-y%C3%AAu-h%C3%ACnh-n%E1%BB%81n-m%C3%A1y-t%C3%ADnh-%C4%91%C6%A1n-gi%E1%BA%A3n-sk47afVzfio.jpg">
    </div>
    <div  class="wrap_infor_product">
      <div class="product_name">
        {{item.name}}
      </div>
      <div class="product_price">
        {{item.unit_price}} VND
      </div>
      <div class="add_to_cart">
        +
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductDetailComponent",
  props: ['item'],
  data() {
  },
};
</script>

<style scoped>
.item {
  width: 49.5%;
  height: 300px;
  margin: 1px;
  position: relative;
}
.wrap_img {
  height: 80%;
}
.wrap_infor_product {
  display: flex;
  border-top: 1px solid #000;
  height: 20%;
  background-color: #001529;
}
.product_name {
  width: 70%;
  border-right: 2px solid #0e4170;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 15px;
}
.product_price, .name_table {
  font-weight: bold;
  color: #fff;
  padding-left: 10px;
  padding-top: 15px;
}
img {
  width: 100%;
    height: 100%;
    object-fit: cover;
}
.add_to_cart {
  font-size: 25px;
  padding: 0px 11px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
}
</style>
