<template>
  <div class="list-product">
    <ProductDetailComponent v-for="item in products" :key="item.id" :item="item"></ProductDetailComponent>
  </div>
</template>

<script>
import ProductDetailComponent from '@/components/product/ProductDetail'
export default {
  name: "ProductListComponent",
  components: {
    ProductDetailComponent
  },
  props: ['items'],
  data() {
    return {
      pathname: "",
      products: '',
    };
  },
  computed: {
  },
  async created() {
      const products = await this.$store.dispatch('product/getProducts');
      console.log(products);

      this.products = products;
  },
};
</script>

<style scoped>
  .list-product {
    display: flex;
    flex-wrap: wrap;
  }
</style>
