<template>
    <div id="home">
        <DashboardLayout title="Products Management" class="listing">
            <div class="list-product">
                <ProductDetailComponent v-for="item in products" :key="item.id" :item="item"></ProductDetailComponent>
            </div>
        </DashboardLayout>
    </div>
</template>

<script>
import DashboardLayout from '@/layouts/dashboard.vue'
import ProductDetailComponent from '@/components/product/ProductDetail'
export default {
    name: 'ProductListComponent',
    components: {
        DashboardLayout,
        ProductDetailComponent
    },
    data() {
    return {
      pathname: "",
      products: '',
    };
  },
  computed: {
  },
  async created() {
      const products = await this.$store.dispatch('product/getProducts');
      this.products = products;
  },
}
</script>

<style scoped>
    .list-product {
      display: flex;
      flex-wrap: wrap;
    }
  </style>
