<template>
  <div class="login">
    <div class="auth">
      <div class="banner-box">
        <img
          src="https://localshop.vn/content/images/merchant_login.png"
          alt="banner"
        />
      </div>
      <a-form :form="form" @submit="handleSubmit">
        <h1>Xin chào!</h1>
        <h2>Để đăng nhập, hãy điền email và mật khẩu.</h2>
           <h2 className="ant-form-item-explain ant-form-item-explain-error" ><div role="alert" :style="{ color: '#ff4d4f',fontSize:'1.3rem',  }">{{errorMsg}}</div></h2>

        <h3>Email</h3>
        <a-form-item name="email">
          <a-input
            class="input__text-lg"
            placeholder="Nhập Email"
            v-decorator="[
              'email',
              {
                rules: [{ required: true, message: 'Chưa nhập Email' }],
              },
            ]"
          />
        </a-form-item>

        <h3>Mật khẩu</h3>
        <a-form-item name="password">
          <a-input-password
            class="input__text-lg"
            placeholder="Nhập mật khẩu"
            v-decorator="[
              'password',
              {
                rules: [{ required: true, message: 'Chưa nhập mật khẩu' }],
              },
            ]"
          />
        </a-form-item>

        <a-form-item>
          <!-- <a
            class="forgot-password ant-row ant-form-item d-flex justify-content-center text-decoration-none"
            href="/forgot-password"
            ><h2>Quên mật khẩu?</h2></a
          > -->
          <a-button type="primary" html-type="submit"> Đăng nhập </a-button>
        </a-form-item>
      </a-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  components: {
    // HelloWorld,
  },
  data() {
    return {
      errorMsg: ""
    };
  },
  created() {
    this.form = this.$form.createForm(this, {
      onFieldsChange: (_, changedFields) => {
        this.$emit("change", changedFields);
      },
      mapPropsToFields: () => {
        return {
          email: this.$form.createFormField({
            value: "",
          }),
          password: this.$form.createFormField({
            value: "",
          }),
        };
      },
      onValuesChange: (_, values) => {
        this.errorMsg = ""
        this.message = values.email;
      },
    });
  },
  mounted() {},
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields(async (err, values) => {
        if (!err) {
          const rs = await this.$store.dispatch(
            "authenticate/adminLogin",
            values
          );
          if (rs) {
            const currentUser = JSON.parse(localStorage.getItem("currentUser"));
            localStorage.setItem("currentUser", JSON.stringify(currentUser));
            this.$store.commit("setCurrentUser", currentUser);
            this.$router.push({ path: "/" });
          }else {
            console.log(123);
            this.errorMsg = "Có lỗi đăng nhập, vui lòng thử lại"
          }
        }
      });
    },
  },
};
</script>

<style>
@media screen and (max-width: 1200px) {
  html .login {
    font-size: 55%;
  }
  .control-box button {
    width: 14rem;
  }
  .auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 20%;
  }
  .auth .banner-box {
    display: none;
  }
  .auth .ant-form {
    width: 80%;
    padding: 2rem;
  }
  .auth .ant-form .ant-form-item {
    width: 100%;
  }
  .auth h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 600;
  }
  .auth h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #4c4c4c;
    font-weight: 300;
  }
  .auth h3 {
    font-size: 1.4rem;
    color: #4c4c4c;
    font-weight: 600;
    margin-bottom: 0.4rem;
    line-height: 144%;
  }
  .auth > div {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
  }
  .auth .ant-btn.ant-btn-primary {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops) */
@media screen and (min-width: 1199px) {
  html .login {
    font-size: 62.5%;
  }
  .auth {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .auth .ant-form {
    width: 30%;
    padding: 2rem;
  }
  .auth .ant-form .ant-form-item {
    width: 70%;
  }
  .auth h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 600;
  }
  .auth h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #4c4c4c;
    font-weight: 300;
  }
  .auth h3 {
    font-size: 1.4rem;
    color: #4c4c4c;
    font-weight: 600;
    margin-bottom: 0.4rem;
    line-height: 144%;
  }
  .auth > div {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
  }
  .auth .ant-btn.ant-btn-primary {
    width: 100%;
  }
  .auth .forgot-password {
    justify-content: flex-end !important;
    width: 100% !important;
    margin-bottom: 0;
  }
}
</style>
