<template>
    <div v-if="loading" class="loading">
        <vue-loading></vue-loading>
    </div>
</template>

<script>
export default {
    name: "Loading",
    computed: {
        loading() {
            return this.$store.state.isLoading
        },
    }
}
</script>

<style scoped>
    .loading {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999
    }
</style>