<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>



<script>
import "@/assets/styles/common.css";
import "@/assets/styles/table.css";

export default {
  name: "App",
  mounted() {
    const currentUser = JSON.parse(localStorage.getItem("currentUser"));
    if (currentUser && location.pathname != "/login") {

      this.$store.commit("setCurrentUser", currentUser);
    }
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
</style>
