@media screen and (min-width: 1200px) {
  /* màn hình PC */

  html {
    font-size: 62.5%;
    height: 100vh;
    overflow: hidden;
  }
  .listing > .ant-layout {
    height: 100vh;
  }
  .listing > .ant-layout .ant-layout-content > div {
    height: 100%;
  }
  .listing .title-quick {
    padding-bottom: 3rem;
  }
  .listing .listing-content {
    overflow: hidden;
    padding-left: 3rem;
    background-color: rgb(255, 255, 255);
  }
  .listing .listing-content .input-search {
    padding-bottom: 3rem;
  }

  .menu-side-bar {
    position: relative;
  }
  .menu-side-bar .logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .menu-side-bar .logout {
    width: 100%;
  }
  .menu-side-bar .logout p {
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 0;
  }
  footer.ant-layout-footer{
    padding: 10px 50px;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  /* màn hình mobile */
  html {
    font-size: 50%;
  }
  .box-content {
    overflow:auto;
     height:calc(100vh - 88px)
  }
  .listing .listing-layout {
    display: contents;
  }
  .listing .listing-layout > .ant-layout-sider {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .ant-layout-header {
    display: none;
  }
  .menu-side-bar.ant-layout-sider-below {
    height: 100vh;
    position: relative;
  }
  .menu-side-bar.ant-layout-sider-zero-width .logout {
    display: none;
  }
  .menu-side-bar .logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .menu-side-bar .logout p {
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 0;
  }
  .menu-side-bar .logout p {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.65);
  }
  footer.ant-layout-footer{
    padding: 10px 50px;
    text-align: center;
  }
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #c1c7cc;
  border-radius: 10px;
}