
@media screen and (min-width: 1200px) {    /* màn hình PC */
    .custom-table {
        max-width: 100%;
    }
    .custom-table .ant-table-row {
        line-height: 5rem;
    }
    .custom-table .ant-table-body {
        max-height: calc(100vh - 330px) !important;
    }
    .custom-table .table-select {
        width: 10rem;
    }
}
@media screen and (max-width: 1199px) {    /* màn hình Mobile */
    .custom-table {
        max-width: 100%;
    }
    .custom-table .ant-table-row {
        line-height: 5rem;
    }
    .custom-table .ant-table-body {
        max-height:100% !important;
    }
    .custom-table .table-select {
        width: 10rem;
    }
}
@media screen and (min-width: 992px) {    /* màn hình Mobile */
    .list-mobile {
      display: none;
    }
}
@media screen and (max-width: 991px) {    /* màn hình Mobile */
    .custom-table {
      display: none;
    }
    .list-mobile .btn-box {
       text-align: center;
      }
}