<template>

  <a-layout id="components-layout-demo-responsive">
    <a-layout-sider
      breakpoint="lg"
      collapsed-width="0"
      @collapse="onCollapse"
      @breakpoint="onBreakpoint"
      class="menu-side-bar"
    >
      <div class="logo">
        <router-link to="/homepages"><img width="100"  src="https://cdn.haitrieu.com/wp-content/uploads/2022/06/Logo-Ha-Noi.png" alt=""></router-link>
      </div>
      <a-menu theme="dark" mode="inline"  :selectedKeys="[pathname]">
        <AMenuItem  v-for="cateogory in categories" :key="cateogory.id">
          <router-link @click="handleAssigne" :to="'/products-list/'+cateogory.id">{{cateogory.title}}</router-link>
        </AMenuItem>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header :style="{ background: '#fff', padding: 0 }" > 
        <div class="logout">
          <a href="" @click="logout">LogOut</a>
        </div>
      </a-layout-header>
      <a-layout-content class="box-content" :style="{ margin: '24px 16px 0', }">
        <div :style="{ padding: '24px', background: '#fff',  overflow: 'auto' }">
          <slot>
          </slot>
        </div>
      </a-layout-content>
      <a-layout-footer style="textalign: center"> Footer </a-layout-footer>
    </a-layout>
  </a-layout>
</template>
<script>
export default {
  props: ["title"],
  data() {
    return {
      pathname: "",
      categories: '',
    };
  },
  computed: {
    categoryId() {
      return this.$route.params.id;
    },
  },
  async created() {
    // call api lấy dât category 
      const categories = await this.$store.dispatch('category/getCategory');
      this.categories = categories;
      console.log(this.$store);
      console.log(this.$route.params , "abc");

      
  },
  beforeCreate() {
      console.log('beforeCreate hook called');
    },
  mounted() {
  },
  methods: {
    onCollapse(collapsed, type) {
      console.log(collapsed, type);
    },
    onBreakpoint(broken) {
      this.pathname = location.pathname;
      console.log(this.pathname);

      console.log(broken);
    },
    logout() {
      localStorage.removeItem("currentUser");
      localStorage.removeItem("token");
      window.location.href = "/login";
    },
    handleAssigne() {
      this.$store.dispatch('product/getProducts', {
        categoryId: this.categoryId,
      })
      console.log(121)
      this.$router.push(`../products`);
    },
  },
};
</script>

<style scope>
#components-layout-demo-responsive .logo {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logout {
  float: right;
  margin-right: 58px;
}
</style>
